[SCANNTECH_GERAL]
habilitar_integracao_scanntech = True
log_avancado = True
carga_inicial = true
usuario = integrador_test@hos.com.br
senha = integrador
url_1 = http://br.homo.apipdv.scanntech.com
url_2 = http://parceiro1.scanntech.com/
url_3 = http://parceiro2.scanntech.com/
intervalo_s = 10
data_de_inicio = 01/03/2026
data_inicio_envio_de_fechamentos = 01/03/2026

[LOJA_1]
idempresa = 200398
idlocal = 1
empresa = 99

